h1  
{
    color:purple;
}

body  {
    background-color: lightgrey;

}

.blocklink {
text-decoration: none;
color: white;
background-color:purple;
display:inline-block;
padding: 10px; 
}

.box {
    width: 500px
    height: 200px;
    background-color: lightcoral; 
    padding: 20px; 
}

